<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>logo</string>
		<key>bigImage</key>
		<string>logo</string>
		<key>colors</key>
		<array>
			<integer>96</integer>
			<integer>104</integer>
			<integer>96</integer>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>Storage</string>
		<key>bigImage</key>
		<string>Storage</string>
		<key>colors</key>
		<array>
			<integer>96</integer>
			<integer>104</integer>
			<integer>96</integer>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>favourite</string>
		<key>bigImage</key>
		<string>SmileBig</string>
		<key>colors</key>
		<array>
			<integer>96</integer>
			<integer>104</integer>
			<integer>96</integer>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>Message</string>
		<key>bigImage</key>
		<string>ActivitiesBig</string>
		<key>colors</key>
		<array>
			<integer>96</integer>
			<integer>104</integer>
			<integer>96</integer>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>Activites</string>
		<key>bigImage</key>
		<string>DrinksBig</string>
		<key>colors</key>
		<array>
			<integer>96</integer>
			<integer>104</integer>
			<integer>96</integer>
		</array>
	</dict>
</array>
</plist>
