#s-06215896-0d39-430b-b086-52fbf345eb51 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06215896-0d39-430b-b086-52fbf345eb51 #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06215896-0d39-430b-b086-52fbf345eb51 #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06215896-0d39-430b-b086-52fbf345eb51 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06215896-0d39-430b-b086-52fbf345eb51 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06215896-0d39-430b-b086-52fbf345eb51 #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06215896-0d39-430b-b086-52fbf345eb51 #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06215896-0d39-430b-b086-52fbf345eb51 #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06215896-0d39-430b-b086-52fbf345eb51 #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06215896-0d39-430b-b086-52fbf345eb51 #s-Label_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06215896-0d39-430b-b086-52fbf345eb51 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06215896-0d39-430b-b086-52fbf345eb51 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06215896-0d39-430b-b086-52fbf345eb51 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06215896-0d39-430b-b086-52fbf345eb51 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06215896-0d39-430b-b086-52fbf345eb51 #s-Button-black {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06215896-0d39-430b-b086-52fbf345eb51 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06215896-0d39-430b-b086-52fbf345eb51 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06215896-0d39-430b-b086-52fbf345eb51 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06215896-0d39-430b-b086-52fbf345eb51 #s-Label_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06215896-0d39-430b-b086-52fbf345eb51 #s-Label_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06215896-0d39-430b-b086-52fbf345eb51 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06215896-0d39-430b-b086-52fbf345eb51 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-06215896-0d39-430b-b086-52fbf345eb51 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}