#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Label_52 {
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Text_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2C83A8;
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Text_4 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2C83A8;
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-3b689c2b-32f1-431f-b2c6-36ffc343fa3b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}