#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-radius: 0px 24px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_25 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2C83A8;
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_21 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_22 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_24 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_2 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2C83A8;
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Table_1 {
  border-collapse: separate;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_3 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2C83A8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96);
  filter: alpha(opacity=96);
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rich_text_77 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_11 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rich_text_78 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_12 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rich_text_76 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_10 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rich_text_79 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_13 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_58 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_52 {
  -ms-transform: rotate(0.0deg);
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}