#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_3 {
  position: absolute;
  top: 19px;
  left: 0px;
  width: 94px;
  height: 646px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-radius: 0px 24px 0px 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_6 {
  position: absolute;
  top: 588px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 36.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_6 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_6 span#rtr-s-Label_6_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_2 {
  position: absolute;
  top: 81px;
  left: 17px;
  width: 65px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_7 {
  position: absolute;
  top: 486px;
  left: 16px;
  width: 65px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_3 {
  position: absolute;
  top: 186px;
  left: 16px;
  width: 65px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_5 {
  position: absolute;
  top: 286px;
  left: 16px;
  width: 65px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_8 {
  position: absolute;
  top: 386px;
  left: 16px;
  width: 65px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Dynamic_Panel_1 {
  position: absolute;
  top: 134px;
  left: 95px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Feeds {
  width: 375px;
  height: 533px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Feeds .verticalalign {
  vertical-align: top;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Group_5 {
  position: absolute;
  top: 336px;
  left: -234px;
  width: 375px;
  height: 80px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 80px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_6 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_25 {
  position: absolute;
  top: 8px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_25 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 48.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_25 span#rtr-s-Label_25_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_14 {
  position: absolute;
  top: 8px;
  left: 72px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_14 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_14 span#rtr-s-Text_14_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_14 span#rtr-s-Text_14_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Paragraph_5 {
  position: absolute;
  top: 37px;
  left: 72px;
  width: 78px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Paragraph_5 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_1 {
  position: absolute;
  top: 12px;
  left: 40px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2C83A8;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_1 span {
  color: #2C83A8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_1 span#rtr-s-Text_1_0 {
  color: #2C83A8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_5 {
  position: absolute;
  top: 12px;
  left: 268px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_5 span {
  color: #469BBF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_5 span#rtr-s-Text_5_0 {
  color: #469BBF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_6 {
  position: absolute;
  top: 12px;
  left: 136px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_6 span {
  color: #469BBF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_6 span#rtr-s-Text_6_0 {
  color: #469BBF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Group_1 {
  position: absolute;
  top: 49px;
  left: 0px;
  width: 375px;
  height: 80px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 80px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_21 {
  position: absolute;
  top: 8px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_21 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 48.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_21 span#rtr-s-Label_21_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_10 {
  position: absolute;
  top: 8px;
  left: 72px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_10 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_10 span#rtr-s-Text_10_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_10 span#rtr-s-Text_10_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Paragraph_1 {
  position: absolute;
  top: 40px;
  left: 72px;
  width: 198px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Paragraph_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Group_2 {
  position: absolute;
  top: 146px;
  left: 0px;
  width: 375px;
  height: 80px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 80px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_4 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_22 {
  position: absolute;
  top: 8px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_22 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 48.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_22 span#rtr-s-Label_22_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_11 {
  position: absolute;
  top: 8px;
  left: 72px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_11 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_11 span#rtr-s-Text_11_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_11 span#rtr-s-Text_11_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Paragraph_2 {
  position: absolute;
  top: 37px;
  left: 72px;
  width: 226px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Paragraph_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Group_4 {
  position: absolute;
  top: 240px;
  left: 0px;
  width: 375px;
  height: 80px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 80px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_5 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_24 {
  position: absolute;
  top: 8px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_24 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 48.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_24 span#rtr-s-Label_24_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_13 {
  position: absolute;
  top: 8px;
  left: 72px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_13 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_13 span#rtr-s-Text_13_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_13 span#rtr-s-Text_13_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Paragraph_4 {
  position: absolute;
  top: 37px;
  left: 72px;
  width: 231px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Paragraph_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Group_6 {
  position: absolute;
  top: 336px;
  left: 140px;
  width: 235px;
  height: 80px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 79px;
  height: 80px;
  background-color: #CCCCCC;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_8 {
  position: absolute;
  top: 0px;
  left: 78px;
  width: 79px;
  height: 80px;
  background-color: #FF9900;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_9 {
  position: absolute;
  top: 0px;
  left: 156px;
  width: 79px;
  height: 80px;
  background-color: #2D6B9E;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Hot_Topic {
  width: 375px;
  height: 533px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Hot_Topic .verticalalign {
  vertical-align: top;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_2 {
  position: absolute;
  top: 12px;
  left: 136px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2C83A8;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_2 span {
  color: #2C83A8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_2 span#rtr-s-Text_2_0 {
  color: #2C83A8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_7 {
  position: absolute;
  top: 12px;
  left: 40px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_7 span {
  color: #469BBF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_7 span#rtr-s-Text_7_0 {
  color: #469BBF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_8 {
  position: absolute;
  top: 12px;
  left: 268px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_8 span {
  color: #469BBF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_8 span#rtr-s-Text_8_0 {
  color: #469BBF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Table_1 {
  position: absolute;
  top: 44px;
  left: 0px;
  width: 375px;
  height: 157px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  box-shadow: none;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_1 {
  padding-left: 12px;
  width: 261px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_1 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_4 {
  padding-left: 12px;
  width: 88px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_4 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_2 {
  padding-left: 12px;
  width: 261px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_3 {
  padding-left: 12px;
  width: 88px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_3 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_3 span#rtr-s-Text_cell_3_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_5 {
  padding-left: 12px;
  width: 261px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_5 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_6 {
  padding-left: 12px;
  width: 88px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_6 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_6 span#rtr-s-Text_cell_6_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_7 {
  padding-left: 12px;
  width: 261px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_7 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_8 {
  padding-left: 12px;
  width: 88px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_8 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Discover {
  width: 375px;
  height: 533px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Discover .verticalalign {
  vertical-align: top;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_3 {
  position: absolute;
  top: 12px;
  left: 268px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2C83A8;
  opacity: 0.96;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_3 span {
  color: #2C83A8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_3 span#rtr-s-Text_3_0 {
  color: #2C83A8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_4 {
  position: absolute;
  top: 12px;
  left: 40px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_4 span {
  color: #469BBF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_4 span#rtr-s-Text_4_0 {
  color: #469BBF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_9 {
  position: absolute;
  top: 12px;
  left: 136px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_9 span {
  color: #469BBF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_9 span#rtr-s-Text_9_0 {
  color: #469BBF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-contact-header_1 {
  position: absolute;
  top: 159px;
  left: 0px;
  width: 375px;
  height: 100px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rich_text_77 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 100px;
  width: 275px;
  height: 98px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rich_text_77 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rich_text_77 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rich_text_77 span#rtr-s-Rich_text_77_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rich_text_77 span#rtr-s-Rich_text_77_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_11 {
  position: absolute;
  top: 12px;
  left: 10px;
  width: 80px;
  height: 80px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-contact-header_2 {
  position: absolute;
  top: 46px;
  left: 0px;
  width: 375px;
  height: 100px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rich_text_78 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 100px;
  width: 275px;
  height: 98px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rich_text_78 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rich_text_78 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rich_text_78 span#rtr-s-Rich_text_78_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rich_text_78 span#rtr-s-Rich_text_78_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_12 {
  position: absolute;
  top: 12px;
  left: 10px;
  width: 80px;
  height: 80px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-contact-header {
  position: absolute;
  top: 274px;
  left: 0px;
  width: 375px;
  height: 100px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rich_text_76 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 100px;
  width: 275px;
  height: 98px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rich_text_76 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rich_text_76 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rich_text_76 span#rtr-s-Rich_text_76_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rich_text_76 span#rtr-s-Rich_text_76_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_10 {
  position: absolute;
  top: 12px;
  left: 10px;
  width: 80px;
  height: 80px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-contact-header_3 {
  position: absolute;
  top: 389px;
  left: 0px;
  width: 375px;
  height: 100px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rich_text_79 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 100px;
  width: 275px;
  height: 98px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rich_text_79 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rich_text_79 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rich_text_79 span#rtr-s-Rich_text_79_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rich_text_79 span#rtr-s-Rich_text_79_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_13 {
  position: absolute;
  top: 12px;
  left: 10px;
  width: 80px;
  height: 80px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_1 {
  position: absolute;
  top: 50px;
  left: 248px;
  width: 70px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_6 {
  position: absolute;
  top: 30px;
  left: 105px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_58 {
  position: absolute;
  top: 94px;
  left: 332px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_58 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_58 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_58 span#rtr-s-Label_58_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Statusbar-white {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 20px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_2 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_28 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_28 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_28 span#rtr-s-Label_28_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_29 {
  position: absolute;
  top: 4px;
  left: 299px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_29 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_29 span#rtr-s-Label_29_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_30 {
  position: absolute;
  top: 0px;
  left: 149px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_30 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_30 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_30 span#rtr-s-Label_30_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Group_12 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Ellipse_6 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Ellipse_6 .content {
  width: 6px;
  height: 6px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Ellipse_6 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #shapewrapper-s-Ellipse_6 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Ellipse_9 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Ellipse_9 .content {
  width: 6px;
  height: 6px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Ellipse_9 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #shapewrapper-s-Ellipse_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #shapewrapper-s-Ellipse_9 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #shapewrapper-s-Ellipse_9 span#rtr-s-Ellipse_9_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Ellipse_11 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Ellipse_11 .content {
  width: 6px;
  height: 6px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Ellipse_11 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #shapewrapper-s-Ellipse_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #shapewrapper-s-Ellipse_11 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #shapewrapper-s-Ellipse_11 span#rtr-s-Ellipse_11_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Ellipse_13 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Ellipse_13 .content {
  width: 6px;
  height: 6px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Ellipse_13 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #shapewrapper-s-Ellipse_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #shapewrapper-s-Ellipse_13 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #shapewrapper-s-Ellipse_13 span#rtr-s-Ellipse_13_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Ellipse_14 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Ellipse_14 .content {
  width: 6px;
  height: 6px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Ellipse_14 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #shapewrapper-s-Ellipse_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #shapewrapper-s-Ellipse_14 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #shapewrapper-s-Ellipse_14 span#rtr-s-Ellipse_14_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_52 {
  position: absolute;
  top: 1px;
  left: 302px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_52 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_52 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_52 span#rtr-s-Label_52_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_4 {
  position: absolute;
  top: 5px;
  left: 342px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}