#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96) ;
  filter: alpha(opacity=96) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rich_text_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rich_text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rich_text_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rich_text_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Label_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5c900952-17b0-4b6b-b242-4e3b9b5771bc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}