#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Label_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Text_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Button-black {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Button-black_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Button-black_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Text_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Line_11 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Line_7 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Line_8 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -9px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}