#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Label_52 {
  -ms-transform: rotate(0.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Text_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Button-black {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Button-black_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Button-black_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Label_21 {
  -ms-transform: rotate(0.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Text_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5e4934ef-dd4e-4197-bb79-885bc4e622e5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}