#s-6c559c13-7580-4d60-8e6e-c550095def29 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c559c13-7580-4d60-8e6e-c550095def29 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c559c13-7580-4d60-8e6e-c550095def29 #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c559c13-7580-4d60-8e6e-c550095def29 #s-Text_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c559c13-7580-4d60-8e6e-c550095def29 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c559c13-7580-4d60-8e6e-c550095def29 #s-Text_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c559c13-7580-4d60-8e6e-c550095def29 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c559c13-7580-4d60-8e6e-c550095def29 #s-Text_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c559c13-7580-4d60-8e6e-c550095def29 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c559c13-7580-4d60-8e6e-c550095def29 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c559c13-7580-4d60-8e6e-c550095def29 #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c559c13-7580-4d60-8e6e-c550095def29 #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c559c13-7580-4d60-8e6e-c550095def29 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c559c13-7580-4d60-8e6e-c550095def29 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c559c13-7580-4d60-8e6e-c550095def29 #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c559c13-7580-4d60-8e6e-c550095def29 #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c559c13-7580-4d60-8e6e-c550095def29 #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c559c13-7580-4d60-8e6e-c550095def29 #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c559c13-7580-4d60-8e6e-c550095def29 #s-Label_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c559c13-7580-4d60-8e6e-c550095def29 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c559c13-7580-4d60-8e6e-c550095def29 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6c559c13-7580-4d60-8e6e-c550095def29 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}