#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Label_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Label_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}