#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Label_52 {
  -ms-transform: rotate(0.0deg);
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Label_119 {
  -ms-transform: rotate(0.0deg);
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-77e48ece-a7ac-4b03-ac23-cf1dfe8482cf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}