#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Label_36 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Label_39 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Label_34 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Label_37 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Label_52 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-80c91f7f-2b6c-4078-932d-be2382636b6d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}