#s-81af9c32-5a1e-477c-9337-af01e9169bf5 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81af9c32-5a1e-477c-9337-af01e9169bf5 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81af9c32-5a1e-477c-9337-af01e9169bf5 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81af9c32-5a1e-477c-9337-af01e9169bf5 #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81af9c32-5a1e-477c-9337-af01e9169bf5 #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81af9c32-5a1e-477c-9337-af01e9169bf5 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81af9c32-5a1e-477c-9337-af01e9169bf5 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81af9c32-5a1e-477c-9337-af01e9169bf5 #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81af9c32-5a1e-477c-9337-af01e9169bf5 #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81af9c32-5a1e-477c-9337-af01e9169bf5 #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81af9c32-5a1e-477c-9337-af01e9169bf5 #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81af9c32-5a1e-477c-9337-af01e9169bf5 #s-Label_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81af9c32-5a1e-477c-9337-af01e9169bf5 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81af9c32-5a1e-477c-9337-af01e9169bf5 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81af9c32-5a1e-477c-9337-af01e9169bf5 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81af9c32-5a1e-477c-9337-af01e9169bf5 #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81af9c32-5a1e-477c-9337-af01e9169bf5 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-81af9c32-5a1e-477c-9337-af01e9169bf5 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-81af9c32-5a1e-477c-9337-af01e9169bf5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}