#s-81e102ac-8589-4319-81fa-056f9a10f4e1 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-81e102ac-8589-4319-81fa-056f9a10f4e1 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-81e102ac-8589-4319-81fa-056f9a10f4e1 #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-81e102ac-8589-4319-81fa-056f9a10f4e1 #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-81e102ac-8589-4319-81fa-056f9a10f4e1 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-81e102ac-8589-4319-81fa-056f9a10f4e1 #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-81e102ac-8589-4319-81fa-056f9a10f4e1 #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-81e102ac-8589-4319-81fa-056f9a10f4e1 #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-81e102ac-8589-4319-81fa-056f9a10f4e1 #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-81e102ac-8589-4319-81fa-056f9a10f4e1 #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-81e102ac-8589-4319-81fa-056f9a10f4e1 #s-Label_52 {
  -ms-transform: rotate(0.0deg);
}
#s-81e102ac-8589-4319-81fa-056f9a10f4e1 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-81e102ac-8589-4319-81fa-056f9a10f4e1 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-81e102ac-8589-4319-81fa-056f9a10f4e1 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-81e102ac-8589-4319-81fa-056f9a10f4e1 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-81e102ac-8589-4319-81fa-056f9a10f4e1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}