#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Label_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}