#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Label_52 {
  -ms-transform: rotate(0.0deg);
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Panel_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Line_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Line_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Line_13 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #157EFB;
  -ms-transform: rotate(0.0deg);
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Line_13 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #157EFB;
  -ms-transform: rotate(0.0deg);
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Rectangle_9 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Label_55 {
  -ms-transform: rotate(0.0deg);
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 #s-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-8804b7d5-2ab1-49d5-bc19-5f143006e394 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}