#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Label_52 {
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Ellipse_2 {
  -pie-background: linear-gradient(to bottom,#E32B30,#D10F17);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Ellipse_3 {
  -pie-background: linear-gradient(to bottom,#E32B30,#D10F17);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-8981d557-479d-46a4-8e1a-c580f3a894ee > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}