#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Button-black {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Button-black_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Button-black_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Label_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Text_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Label_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Text_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Line_11 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Line_7 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Line_8 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Label_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Label_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Label_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Label_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff #s-Label_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9a955c8d-6939-450c-9ac1-12deac2e08ff > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}