#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_286 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}