#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 293px;
  height: 666px;
  background-color: #3579B0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_21 {
  position: absolute;
  top: 54px;
  left: 99px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 72.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_21 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 72.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_21 span#rtr-s-Label_21_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 72.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_1 {
  position: absolute;
  top: 149px;
  left: 120px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_1 span {
  color: #D9D9D9;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_1 span#rtr-s-Text_1_0 {
  color: #D9D9D9;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_3 {
  position: absolute;
  top: 180px;
  left: 99px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_3 span {
  color: #D9D9D9;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_3 span#rtr-s-Text_3_0 {
  color: #D9D9D9;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_6 {
  position: absolute;
  top: 619px;
  left: 121px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_6 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_6 span#rtr-s-Text_6_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_4 {
  position: absolute;
  top: 0px;
  left: 292px;
  width: 375px;
  height: 68px;
  background-color: #3579B0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Image_6 {
  position: absolute;
  top: 33px;
  left: 308px;
  width: 20px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Statusbar-white {
  position: absolute;
  top: 0px;
  left: 292px;
  width: 375px;
  height: 20px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_2 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_28 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_28 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_28 span#rtr-s-Label_28_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_29 {
  position: absolute;
  top: 4px;
  left: 299px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_29 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_29 span#rtr-s-Label_29_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_30 {
  position: absolute;
  top: 0px;
  left: 149px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_30 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_30 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_30 span#rtr-s-Label_30_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Group_12 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Ellipse_6 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Ellipse_6 .content {
  width: 6px;
  height: 6px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Ellipse_6 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #shapewrapper-s-Ellipse_6 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Ellipse_9 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Ellipse_9 .content {
  width: 6px;
  height: 6px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Ellipse_9 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #shapewrapper-s-Ellipse_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #shapewrapper-s-Ellipse_9 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #shapewrapper-s-Ellipse_9 span#rtr-s-Ellipse_9_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Ellipse_11 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Ellipse_11 .content {
  width: 6px;
  height: 6px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Ellipse_11 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #shapewrapper-s-Ellipse_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #shapewrapper-s-Ellipse_11 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #shapewrapper-s-Ellipse_11 span#rtr-s-Ellipse_11_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Ellipse_13 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Ellipse_13 .content {
  width: 6px;
  height: 6px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Ellipse_13 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #shapewrapper-s-Ellipse_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #shapewrapper-s-Ellipse_13 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #shapewrapper-s-Ellipse_13 span#rtr-s-Ellipse_13_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Ellipse_14 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Ellipse_14 .content {
  width: 6px;
  height: 6px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Ellipse_14 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #shapewrapper-s-Ellipse_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #shapewrapper-s-Ellipse_14 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #shapewrapper-s-Ellipse_14 span#rtr-s-Ellipse_14_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_52 {
  position: absolute;
  top: 1px;
  left: 302px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_52 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_52 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_52 span#rtr-s-Label_52_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Image_4 {
  position: absolute;
  top: 5px;
  left: 342px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_12 {
  position: absolute;
  top: 26px;
  left: 435px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Malayalam MN,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_12 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Malayalam MN,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_12 span#rtr-s-Text_12_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Malayalam MN,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_71 {
  position: absolute;
  top: 28px;
  left: 630px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_71 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_71 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 16.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_71 span#rtr-s-Label_71_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Group_6 {
  position: absolute;
  top: 67px;
  left: 292px;
  width: 375px;
  height: 65px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 64px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_7 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_25 {
  position: absolute;
  top: 11px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 36.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_25 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_25 span#rtr-s-Label_25_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_15 {
  position: absolute;
  top: 11px;
  left: 67px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_15 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_15 span#rtr-s-Text_15_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_16 {
  position: absolute;
  top: 34px;
  left: 67px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_16 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_16 span#rtr-s-Text_16_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Group_7 {
  position: absolute;
  top: 131px;
  left: 292px;
  width: 375px;
  height: 65px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 64px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_5 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_23 {
  position: absolute;
  top: 11px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 36.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_23 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_23 span#rtr-s-Label_23_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_9 {
  position: absolute;
  top: 11px;
  left: 67px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_9 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_9 span#rtr-s-Text_9_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_10 {
  position: absolute;
  top: 34px;
  left: 67px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_10 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_10 span#rtr-s-Text_10_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_8 {
  position: absolute;
  top: 15px;
  left: 301px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_8 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_8 span#rtr-s-Text_8_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Group_8 {
  position: absolute;
  top: 197px;
  left: 292px;
  width: 375px;
  height: 65px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 64px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_6 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_24 {
  position: absolute;
  top: 11px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 36.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_24 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_24 span#rtr-s-Label_24_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_11 {
  position: absolute;
  top: 11px;
  left: 67px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_11 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_11 span#rtr-s-Text_11_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_13 {
  position: absolute;
  top: 34px;
  left: 67px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_13 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_13 span#rtr-s-Text_13_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_14 {
  position: absolute;
  top: 14px;
  left: 301px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_14 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_14 span#rtr-s-Text_14_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Group_9 {
  position: absolute;
  top: 263px;
  left: 292px;
  width: 375px;
  height: 66px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_8 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 64px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_8 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_17 {
  position: absolute;
  top: 11px;
  left: 67px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_17 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_17 span#rtr-s-Text_17_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_18 {
  position: absolute;
  top: 34px;
  left: 67px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_18 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_18 span#rtr-s-Text_18_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Group_10 {
  position: absolute;
  top: 275px;
  left: 305px;
  width: 41px;
  height: 41px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 41px;
  height: 41px;
  position: absolute;
  overflow: hidden;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Ellipse_1 .content {
  width: 41px;
  height: 41px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Ellipse_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 41px;
  height: 41px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #shapewrapper-s-Ellipse_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_286 {
  position: absolute;
  top: 8px;
  left: 8px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_286 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_286 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_286 span#rtr-s-Label_286_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_19 {
  position: absolute;
  top: 79px;
  left: 593px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_19 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_19 span#rtr-s-Text_19_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_20 {
  position: absolute;
  top: 277px;
  left: 593px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_20 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_20 span#rtr-s-Text_20_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Group_2 {
  position: absolute;
  top: 275px;
  left: 96px;
  width: 97px;
  height: 27px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_2 {
  position: absolute;
  top: 3px;
  left: 40px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_2 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_2 span#rtr-s-Text_2_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_22 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_22 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_22 span#rtr-s-Label_22_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Group_1 {
  position: absolute;
  top: 318px;
  left: 96px;
  width: 104px;
  height: 27px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_41 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_41 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_41 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_41 span#rtr-s-Label_41_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_4 {
  position: absolute;
  top: 3px;
  left: 40px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_4 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_4 span#rtr-s-Text_4_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Group_4 {
  position: absolute;
  top: 436px;
  left: 96px;
  width: 92px;
  height: 27px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_7 {
  position: absolute;
  top: 3px;
  left: 40px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_7 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_7 span#rtr-s-Text_7_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_45 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_45 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_45 span#rtr-s-Label_45_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Group_3 {
  position: absolute;
  top: 356px;
  left: 96px;
  width: 111px;
  height: 27px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_5 {
  position: absolute;
  top: 3px;
  left: 40px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_5 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_5 span#rtr-s-Text_5_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_19 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_19 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_19 span#rtr-s-Label_19_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Ellipse_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  position: absolute;
  overflow: hidden;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Ellipse_3 .content {
  width: 18px;
  height: 18px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Ellipse_3 {
  position: absolute;
  top: 323px;
  left: 213px;
  width: 18px;
  height: 18px;
  background-color: #666666;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #shapewrapper-s-Ellipse_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Group_5 {
  position: absolute;
  top: 398px;
  left: 96px;
  width: 105px;
  height: 27px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_13 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_13 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_13 span#rtr-s-Label_13_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Paragraph_2 {
  position: absolute;
  top: 0px;
  left: 40px;
  width: 65px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Paragraph_2 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Group_11 {
  position: absolute;
  top: 235px;
  left: 96px;
  width: 94px;
  height: 27px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_23 {
  position: absolute;
  top: 3px;
  left: 40px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_23 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Text_23 span#rtr-s-Text_23_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_26 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_26 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c #s-Label_26 span#rtr-s-Label_26_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a3bcca5b-9c31-48bb-b6c1-ff9f0b1b391c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}