#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Label_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Label_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Label_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Label_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Label_286 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Label_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Label_124 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}