#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Label_52 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Label_58 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Label_25 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Text_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2C83A8;
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Label_23 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Label_24 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Ellipse_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Label_286 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Text_3 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2C83A8;
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Label_26 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Label_39 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Label_124 {
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50) alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50) alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a625b276-366c-4e8c-a45c-9216fc0e7d75 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}