#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_52 {
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_21 {
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_292 {
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Button-black {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Button-black_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Button-black_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}