#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 68px;
  background-color: #3579B0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Statusbar-white {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 20px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Rectangle_2 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_28 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_28 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_28 span#rtr-s-Label_28_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_29 {
  position: absolute;
  top: 4px;
  left: 299px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_29 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_29 span#rtr-s-Label_29_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_30 {
  position: absolute;
  top: 0px;
  left: 149px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_30 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_30 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_30 span#rtr-s-Label_30_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Group_12 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Ellipse_6 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Ellipse_6 .content {
  width: 6px;
  height: 6px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Ellipse_6 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #shapewrapper-s-Ellipse_6 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Ellipse_9 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Ellipse_9 .content {
  width: 6px;
  height: 6px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Ellipse_9 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #shapewrapper-s-Ellipse_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #shapewrapper-s-Ellipse_9 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #shapewrapper-s-Ellipse_9 span#rtr-s-Ellipse_9_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Ellipse_11 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Ellipse_11 .content {
  width: 6px;
  height: 6px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Ellipse_11 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #shapewrapper-s-Ellipse_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #shapewrapper-s-Ellipse_11 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #shapewrapper-s-Ellipse_11 span#rtr-s-Ellipse_11_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Ellipse_13 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Ellipse_13 .content {
  width: 6px;
  height: 6px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Ellipse_13 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #shapewrapper-s-Ellipse_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #shapewrapper-s-Ellipse_13 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #shapewrapper-s-Ellipse_13 span#rtr-s-Ellipse_13_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Ellipse_14 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Ellipse_14 .content {
  width: 6px;
  height: 6px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Ellipse_14 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #shapewrapper-s-Ellipse_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #shapewrapper-s-Ellipse_14 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #shapewrapper-s-Ellipse_14 span#rtr-s-Ellipse_14_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_52 {
  position: absolute;
  top: 1px;
  left: 302px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_52 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_52 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_52 span#rtr-s-Label_52_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Image_4 {
  position: absolute;
  top: 5px;
  left: 342px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_1 {
  position: absolute;
  top: 29px;
  left: 133px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Malayalam MN,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Malayalam MN,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Malayalam MN,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Button_1 {
  position: absolute;
  top: 35px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Malayalam MN,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Malayalam MN,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Malayalam MN,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Button_2 {
  position: absolute;
  top: 35px;
  left: 326px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Malayalam MN,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Malayalam MN,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Malayalam MN,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Rectangle_3 {
  position: absolute;
  top: 74px;
  left: 0px;
  width: 375px;
  height: 136px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Rectangle_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Line_1 {
  position: absolute;
  top: 144px;
  left: 20px;
  width: 335px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Image_1 {
  position: absolute;
  top: 157px;
  left: 307px;
  width: 48px;
  height: 48px;
  opacity: 0.4;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_21 {
  position: absolute;
  top: 87px;
  left: 307px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 36.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_21 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_21 span#rtr-s-Label_21_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_9 {
  position: absolute;
  top: 97px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_9 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_10 {
  position: absolute;
  top: 168px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_10 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Group_1 {
  position: absolute;
  top: 220px;
  left: 0px;
  width: 375px;
  height: 201px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Rectangle_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 197px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Rectangle_6 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Line_3 {
  position: absolute;
  top: 40px;
  left: 20px;
  width: 339px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Line_6 {
  position: absolute;
  top: 80px;
  left: 20px;
  width: 339px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Line_4 {
  position: absolute;
  top: 157px;
  left: 20px;
  width: 339px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  z-index: 100;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Line_7 {
  position: absolute;
  top: 120px;
  left: 20px;
  width: 339px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Line_5 {
  position: absolute;
  top: 199px;
  left: 20px;
  width: 339px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  z-index: 100;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_6 {
  position: absolute;
  top: 8px;
  left: 19px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_6 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_7 {
  position: absolute;
  top: 88px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_7 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Input_1 {
  position: absolute;
  top: 6px;
  left: 199px;
  padding-left: 15px;
  width: 155px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Input_1 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_8 {
  position: absolute;
  top: 127px;
  left: 19px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_8 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_4 {
  position: absolute;
  top: 165px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  z-index: 100;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_2 {
  position: absolute;
  top: 91px;
  left: 301px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_2 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_290 {
  position: absolute;
  top: 88px;
  left: 332px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_290 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_290 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_290 span#rtr-s-Label_290_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_3 {
  position: absolute;
  top: 130px;
  left: 302px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_3 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_291 {
  position: absolute;
  top: 127px;
  left: 332px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_291 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_291 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_291 span#rtr-s-Label_291_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Input_2 {
  position: absolute;
  top: 161px;
  left: 269px;
  padding-left: 15px;
  width: 77px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Input_2 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_11 {
  position: absolute;
  top: 49px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_11 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_292 {
  position: absolute;
  top: 48px;
  left: 332px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_292 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_292 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Label_292 span#rtr-s-Label_292_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-change_pic {
  position: absolute;
  top: 508px;
  left: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-plain {
  width: 375px;
  height: 159px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-plain .verticalalign {
  vertical-align: top;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-changepic {
  width: 375px;
  height: 159px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-changepic .verticalalign {
  vertical-align: top;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Button-black {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 373px;
  height: 49px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  opacity: 0.99;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Button-black .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Button-black span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Button-black span#rtr-s-Button-black_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Button-black_1 {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 373px;
  height: 49px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  opacity: 0.99;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Button-black_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Button-black_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Button-black_1 span#rtr-s-Button-black_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Button-black_2 {
  position: absolute;
  top: 109px;
  left: 0px;
  width: 373px;
  height: 49px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  opacity: 0.99;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Button-black_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Button-black_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 #s-Button-black_2 span#rtr-s-Button-black_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c70b1ca8-e861-4e46-80bd-513186f38bf0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}