#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Label_52 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-radius: 0px 24px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}