#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Label_21 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Label_22 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Label_41 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Label_45 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Label_19 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Label_26 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Ellipse_12 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Ellipse_15 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Ellipse_16 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 #s-Label_37 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c83ea9db-1ca6-41ea-93d0-2a48805588a6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}