#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Image_2 {
  position: absolute;
  top: 137px;
  left: 0px;
  width: 375px;
  height: 530px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Button_1 {
  position: absolute;
  top: 373px;
  left: 254px;
  width: 74px;
  height: 73px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 7.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Button_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 7.0pt;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 7.0pt;
  line-height: 0px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Rectangle_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 68px;
  background-color: #3579B0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Rectangle_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Image_6 {
  position: absolute;
  top: 33px;
  left: 16px;
  width: 20px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Statusbar-white_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 20px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Rectangle_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Rectangle_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Label_31 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Label_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Label_31 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Label_31 span#rtr-s-Label_31_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Label_32 {
  position: absolute;
  top: 4px;
  left: 299px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Label_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Label_32 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Label_32 span#rtr-s-Label_32_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Label_33 {
  position: absolute;
  top: 0px;
  left: 149px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Label_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Label_33 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Label_33 span#rtr-s-Label_33_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Group_13 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Ellipse_7 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Ellipse_7 .content {
  width: 6px;
  height: 6px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Ellipse_7 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #shapewrapper-s-Ellipse_7 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Ellipse_10 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Ellipse_10 .content {
  width: 6px;
  height: 6px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Ellipse_10 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #shapewrapper-s-Ellipse_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #shapewrapper-s-Ellipse_10 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #shapewrapper-s-Ellipse_10 span#rtr-s-Ellipse_10_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Ellipse_12 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Ellipse_12 .content {
  width: 6px;
  height: 6px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Ellipse_12 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #shapewrapper-s-Ellipse_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #shapewrapper-s-Ellipse_12 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #shapewrapper-s-Ellipse_12 span#rtr-s-Ellipse_12_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Ellipse_15 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Ellipse_15 .content {
  width: 6px;
  height: 6px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Ellipse_15 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #shapewrapper-s-Ellipse_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #shapewrapper-s-Ellipse_15 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #shapewrapper-s-Ellipse_15 span#rtr-s-Ellipse_15_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Ellipse_16 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Ellipse_16 .content {
  width: 6px;
  height: 6px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Ellipse_16 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #shapewrapper-s-Ellipse_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #shapewrapper-s-Ellipse_16 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #shapewrapper-s-Ellipse_16 span#rtr-s-Ellipse_16_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Label_53 {
  position: absolute;
  top: 1px;
  left: 302px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Label_53 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Label_53 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Label_53 span#rtr-s-Label_53_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Image_5 {
  position: absolute;
  top: 5px;
  left: 342px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Text_12 {
  position: absolute;
  top: 26px;
  left: 142px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Malayalam MN,Arial;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Text_12 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Malayalam MN,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Malayalam MN,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Label_37 {
  position: absolute;
  top: 27px;
  left: 327px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Label_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Label_37 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Label_37 span#rtr-s-Label_37_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}