#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Label_52 {
  -ms-transform: rotate(0.0deg);
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}