#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Ellipse_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 #s-Label_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d4dac288-92f6-4828-9fa3-86f28f7b9ca5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}