#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Label_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Paragraph_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Button-black_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Button-black {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}