#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Label_52 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Paragraph_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Rectangle_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2C83A8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2C83A8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2C83A8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #2C83A8;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Ellipse_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2C83A8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2C83A8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2C83A8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #2C83A8;
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Rectangle_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2C83A8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2C83A8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2C83A8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #2C83A8;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Ellipse_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2C83A8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2C83A8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2C83A8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #2C83A8;
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Panel_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2C83A8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2C83A8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2C83A8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #2C83A8;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 213px;
  height: 123px;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Button-black_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2C83A8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2C83A8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2C83A8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #2C83A8;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 82px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Button-black {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2C83A8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2C83A8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2C83A8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #2C83A8;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 82px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-dbd83e23-76c6-46e9-89c5-4254578d5990 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}