#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Rectangle_112 {
  -ms-transform: rotate(0.0deg);
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Rectangle_113 {
  -ms-transform: rotate(0.0deg);
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Rectangle_114 {
  -ms-transform: rotate(0.0deg);
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Label_702 {
  -ms-transform: rotate(0.0deg);
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Label_703 {
  -ms-transform: rotate(0.0deg);
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Label_704 {
  -ms-transform: rotate(0.0deg);
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Ellipse_272 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Ellipse_273 {
  -ms-transform: rotate(0.0deg);
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Rectangle_115 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FBD433;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FBD433;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FBD433;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FBD433;
  -ms-transform: rotate(0.0deg);
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Ellipse_274 {
  -ms-transform: rotate(0.0deg);
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Label_705 {
  -ms-transform: rotate(0.0deg);
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Label_706 {
  -ms-transform: rotate(0.0deg);
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Label_707 {
  -ms-transform: rotate(0.0deg);
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Label_708 {
  -ms-transform: rotate(0.0deg);
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Label_709 {
  -ms-transform: rotate(0.0deg);
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Rectangle_117 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FBD433;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FBD433;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FBD433;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FBD433;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Label_710 {
  -ms-transform: rotate(0.0deg);
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Label_304 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}