#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Rectangle_112 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Rectangle_113 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Rectangle_114 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Label_702 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Label_703 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Label_704 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Ellipse_272 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Ellipse_273 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Rectangle_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Ellipse_274 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Label_705 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Label_706 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Label_707 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Label_708 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Label_709 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Rectangle_117 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Label_710 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f #s-Label_304 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e7a61ddd-1c9e-4960-85dd-2372024c160f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}