#s-fcd174b5-39d9-43af-84cc-feae11ab42f2 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fcd174b5-39d9-43af-84cc-feae11ab42f2 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fcd174b5-39d9-43af-84cc-feae11ab42f2 #s-Line_1 {
  rotation: 90.0;
  margin-left: 142px;
  margin-top: -143px;
}
#s-fcd174b5-39d9-43af-84cc-feae11ab42f2 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fcd174b5-39d9-43af-84cc-feae11ab42f2 #s-Button-black {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fcd174b5-39d9-43af-84cc-feae11ab42f2 #s-Button-black_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fcd174b5-39d9-43af-84cc-feae11ab42f2 #s-Button-black_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fcd174b5-39d9-43af-84cc-feae11ab42f2 #s-Button-black_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fcd174b5-39d9-43af-84cc-feae11ab42f2 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-fcd174b5-39d9-43af-84cc-feae11ab42f2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}