#s-fcd174b5-39d9-43af-84cc-feae11ab42f2 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fcd174b5-39d9-43af-84cc-feae11ab42f2 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fcd174b5-39d9-43af-84cc-feae11ab42f2 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-fcd174b5-39d9-43af-84cc-feae11ab42f2 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-fcd174b5-39d9-43af-84cc-feae11ab42f2 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fcd174b5-39d9-43af-84cc-feae11ab42f2 #s-Table_1 {
  border-collapse: separate;
}
#s-fcd174b5-39d9-43af-84cc-feae11ab42f2 #s-Button-black {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 65px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-fcd174b5-39d9-43af-84cc-feae11ab42f2 #s-Button-black_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 65px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-fcd174b5-39d9-43af-84cc-feae11ab42f2 #s-Panel_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2C83A8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2C83A8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2C83A8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #2C83A8;
  border-radius: 19px 19px 19px 19px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 241px;
  height: 167px;
}
#s-fcd174b5-39d9-43af-84cc-feae11ab42f2 #s-Button-black_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2C83A8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2C83A8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2C83A8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #2C83A8;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 176px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-fcd174b5-39d9-43af-84cc-feae11ab42f2 #s-Button-black_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2C83A8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2C83A8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2C83A8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #2C83A8;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 176px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-fcd174b5-39d9-43af-84cc-feae11ab42f2 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-fcd174b5-39d9-43af-84cc-feae11ab42f2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}